{% load static %}
<!doctype html>
<html lang="en-US">
<head>

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Personal Portfolio Template" />
	<meta name="keywords" content="resposnive, resume, personal, personal portfolio, cv, myour, portfolio" />
	<meta name="author" content="beshleyua" />

	<!-- Title -->
	<title>Majid Karimi</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap" rel="stylesheet">

	<!-- Styles -->
	<link rel="stylesheet" href="{% static "css/basic.css" %}" />
	<link rel="stylesheet" href="{% static "css/layout.css" %}" />
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" />
	<link rel="stylesheet" href="{% static "css/animate.css" %}" />
	<link rel="stylesheet" href="{% static "css/jarallax.css" %}" />
	<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" />
	<link rel="stylesheet" href="{% static "css/swiper.css" %}" />
	<link rel="stylesheet" href="{% static "css/fontawesome.css" %}" />

	<!-- Theme Colors
	<link rel="stylesheet" href="{% static "css/theme-colors/blue.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/green.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/orange.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/brown.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/purple.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/red.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/beige.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/green_light.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/yellow.css" %}" />
	<link rel="stylesheet" href="{% static "css/theme-colors/yellow_light.css" %}" />
	-->
		
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="{% static "images/favicons/favicon.ico" %}">

</head>

<body class="home">

	<!-- Preloader -->
	<div class="preloader">
		<div class="box-1">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="lines"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-2"></div>
	</div>
	
	<!-- Container -->
	<div class="container">
	
		<!-- Header -->
		<header class="header">

			<!-- logo -->
			<div class="logo">
				<a href="#section-started">
					<img class="logo-img" src="{% static "images/logo.png" %}" alt="" />
					<span class="logo-lnk">Majid <br />Karimi</span>
				</a>
			</div>

			<!-- menu button -->
			<a href="#" class="menu-btn"><span></span></a>
				
			<!-- download cv button -->
			<a href="#" class="btn download-cv-btn">
				<span class="animated-button"><span>Download CV</span></span>
				<i class="icon fas fa-download"></i>
			</a>

			<!-- header sidebar -->
			<div class="header-sidebar">

				<!-- top menu -->						
				<div class="top-menu">
					<div class="top-menu-nav">	
						<div class="menu-topmenu-container">
							<ul class="menu">
								<!-- <li class="menu-item current-menu-item menu-item-has-children">
									<a href="#section-started">
										<span class="animated-button"><span>Home</span></span>
									</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="index.html">Home 1</a></li>
										<li class="menu-item"><a href="index-2.html">Home 2</a></li>
										<li class="menu-item current-menu-item"><a href="index-3.html">Home 3</a></li>
										<li class="menu-item"><a href="index-slider.html">Home Slider</a></li>
										<li class="menu-item"><a href="index-video.html">Home Video</a></li>
									</ul>
								</li> -->
								<li class="menu-item">
									<a href="#section-started">
										<span class="animated-button"><span>Home</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-about">
										<span class="animated-button"><span>About</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-experience">
										<span class="animated-button"><span>Resume</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-portfolio">
										<span class="animated-button"><span>Portfolio</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-contacts">
										<span class="animated-button"><span>Contact</span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</header>
		
		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Background -->
			<div class="background-bg">
				<div class="background-filter circle">
					<div class="background-img" style="background-image: url({% static "images/girl3.jpg" %});"></div>
				</div>
			</div>

			<!-- Section Started -->
			<div class="section started" id="section-started">
				<div class="centrize full-width">
					<div class="vertical-center">

						<!-- title -->
						<h1 class="h-title">
							Majid <br />Karimi
						</h1>

						<!-- content started -->
						<div class="started-content">

							<!-- subtitle -->
							<div class="h-subtitles">
								<div class="h-subtitle typing-subtitle">
									<p>Backend Developer</p>
									<p>Programmer</p>
									<p>Web Designer</p>
									<p>Consultant and Mentor</p>
								</div>
								<span class="typed-subtitle"></span>
							</div>

							<!-- text -->
							<div class="h-text">
								Hello! I am Backend Developer from iran, Tehran. I have rich experience in web site design and building, also I am good at Django framework. I love to talk with you about our unique.
							</div>

							<!-- button -->
							<a href="#section-contacts" class="btn">
								<span class="animated-button"><span>Contact Me</span></span>
								<i class="icon fas fa-chevron-right"></i>
							</a>

							<!-- mosue button -->
							<a href="#" class="btn mouse-btn" style="display: none;">
								<i class="icon fas fa-chevron-down"></i>
							</a>

						</div>

					</div>
				</div>
			</div>

			<!-- Section About -->
			<div class="section about" id="section-about">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">About Me</div>
						<div class="subtitle">My story</div>
					</div>

					<!-- text -->
					<div class="cols">
						<div class="col">
							<div class="single-post-text">
								<p>
									Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
								</p>
							</div>
						</div>
						<div class="col">
							<div class="single-post-text">
								<p>
									Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
								</p>
							</div>
						</div>
						<div class="col col-full">
							<div class="single-post-text">
								<p>
									I am back-end developer with teamwork spirit, talented and interested to learn and progress, seeking a full-time position in the field of back-end developer, where I can apply my knowledge and skills for continuous improvement.
								</p>
							</div>
						</div>
					</div>

					<!-- info list -->
					<div class="info-list">
						<ul>
							<li><strong>Born:</strong> 1989</li>
							<li><strong>Residence:</strong> iran</li>
							<li><strong>Freelance:</strong> Available</li>
							<li><strong>Address:</strong> Tehran</li>
							<li><strong>Phone:</strong> +98 935 4600 144</li>
							<li><strong>E-mail:</strong> abm.karimi@gmail.com</li>
							<li><strong>Marital Status:</strong> single</li>
							<li><strong>Military Service:</strong> exempted</li>
						</ul>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Service -->
			<div class="section service" id="section-services">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Services</div>
						<div class="subtitle">What I Do</div>
					</div>

					<!-- services items -->
					<div class="service-items">

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="fas fa-brain"></i></div>
								<div class="name">Economic <br />Science</div>
								<div class="single-post-text">
									<p>
										Economics is a social science concerned with the production, consumption of goods and services.
									</p>
								</div>
							</div>
						</div>
						
						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="icon fas fa-ad"></i></div>
								<div class="name">Marketing <br />& Advertising</div>
								<div class="single-post-text">
									<p>
										Advertising Management though is a complex process of employing various media to sell a product or service.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="icon fab fa-chrome"></i></div>
								<div class="name">Web <br />Development</div>
								<div class="single-post-text">
									<p>
										The web development process includes: web design, web content, client-side / server-side scripting and network security configuration.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="icon fas fa-headphones"></i></div>
								<div class="name">Music <br />Writing</div>
								<div class="single-post-text">
									<p>
										Sheet music is the basic form in which Western classical music is notated so that it can be learned and performed by solo singers.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="icon fas fa-gamepad"></i></div>
								<div class="name">Game <br />Development</div>
								<div class="single-post-text">
									<p>
										Come Up With a Game Idea. An idea is the first thing that comes to mind when a game is being described before creating.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="fas fa-video"></i></div>
								<div class="name">Photography <br />& Video</div>
								<div class="single-post-text">
									<p>
										Sessions. If you are a photographer that spends most of the time in a portrait studio, you can charge for your session.
									</p>
								</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Pricing -->
			<div class="section pricing" id="section-pricing">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Pricing</div>
						<div class="subtitle">My Plans</div>
					</div>

					<!-- pricing items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">

							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-star"></i></div>
									<div class="name">Basic</div>
									<div class="amount">
										<span class="number">
											<span class="dollar">$</span>
											<span>39</span>
											<span class="period">hour</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Web Development</li>
											<li>Advetising</li>
											<li>Game Development</li>
											<li class="disable">Music Writing</li>
											<li class="disable">Photography</li>
										</ul>
									</div>
									<a href="#" class="btn">
										<span class="animated-button"><span>Buy Now</span></span>
										<i class="icon fas fa-chevron-right"></i>
									</a>
								</div>
							</div>

							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-rocket"></i></div>
									<div class="name">Premium</div>
									<div class="amount">
										<span class="number">
											<span class="dollar">$</span>
											<span>59</span>
											<span class="period">hour</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Web Development</li>
											<li>Advetising</li>
											<li>Game Development</li>
											<li>Music Writing</li>
											<li>Photography <strong>new</strong></li>
										</ul>
									</div>
									<a href="#" class="btn">
										<span class="animated-button"><span>Buy Now</span></span>
										<i class="icon fas fa-chevron-right"></i>
									</a>
								</div>
							</div>

							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-rocket"></i></div>
									<div class="name">Ultimate</div>
									<div class="amount">
										<span class="number">
											<span class="dollar">$</span>
											<span>59</span>
											<span class="period">hour</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Web Development</li>
											<li>Advetising</li>
											<li>Game Development</li>
											<li>Music Writing</li>
											<li>Photography <strong>new</strong></li>
										</ul>
									</div>
									<a href="#" class="btn">
										<span class="animated-button"><span>Buy Now</span></span>
										<i class="icon fas fa-chevron-right"></i>
									</a>
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>

				</div>
			</div>

			<!-- Section Resume -->
			<div class="section resume" id="section-experience">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Experience</div>
						<div class="subtitle">Working with</div>
					</div>

					<!-- resume items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">

							<div class="item">
								<div class="resume-item active">
									<div class="date">Present</div>
									<div class="name">The Turin <br />Olympics</div>
									<div class="single-post-text">
										<p>
											Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
										</p>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="resume-item">
									<div class="date">2016-2018</div>
									<div class="name">Red <br />Drifting</div>
									<div class="single-post-text">
										<p>
											Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
										</p>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="resume-item">
									<div class="date">2014-2016</div>
									<div class="name">World <br />Economy</div>
									<div class="single-post-text">
										<p>
											Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
										</p>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="resume-item">
									<div class="date">2012-2014</div>
									<div class="name">Art Director <br />Facebook</div>
									<div class="single-post-text">
										<p>
											Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
										</p>
									</div>
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>

				</div>
			</div>

			<!-- Section Resume -->
			<div class="section resume" id="section-education">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Education</div>
						<div class="subtitle">Studied at</div>
					</div>

					<!-- resume items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">

							<div class="item">
								<div class="resume-item active">
									<div class="date">2008-2012</div>
									<div class="name">University of Tehran <br />Tehran</div>
									<div class="single-post-text">
										<p>
											BSC, Civil Engineering, Water engineering
										</p>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="resume-item">
									<div class="date">2014-2017</div>
									<div class="name">Islamic Azad University, Central Tehran Branch <br />Tehran</div>
									<div class="single-post-text">
										<p>
											MSC, Civil Engineering, Geotechnical engineering
										</p>
									</div>
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>

				</div>
			</div>

			<!-- Section Design Skills -->
			<div class="section skills" id="section-skills">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Design Skills</div>
						<div class="subtitle">Creative ability</div>
					</div>

					<!-- skills items -->
					<div class="skills percent">
						<ul>
							<li>
								<div class="name">Web Layout</div>
								<div class="single-post-text">
									<p>
										Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
									</p>
								</div>
								<div class="progress">
									<div class="percentage" style="width: 90%;">
										<span class="percent">90%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">Illustrations</div>
								<div class="single-post-text">
									<p>
										Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
									</p>
								</div>
								<div class="progress">
									<div class="percentage" style="width: 70%;">
										<span class="percent">70%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">Photoshop</div>
								<div class="single-post-text">
									<p>
										Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
									</p>
								</div>
								<div class="progress">
									<div class="percentage" style="width: 95%;">
										<span class="percent">95%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">Graphic Design</div>
								<div class="single-post-text">
									<p>
										Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
									</p>
								</div>
								<div class="progress">
									<div class="percentage" style="width: 85%;">
										<span class="percent">85%</span>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<!-- Section Languages Skills -->
			<div class="section skills" id="section-skills-lang">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Language Skills</div>
						<div class="subtitle">Reading and writing</div>
					</div>

					<!-- skills items -->
					<div class="skills dotted">
						<ul>
							<li>
								<div class="name">Persian</div>
								<div class="single-post-text">
									<p>
										Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
									</p>
								</div>
								<div class="progress">
									<div class="percentage" style="width: 90%;">
										<span class="percent">90%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">English</div>
								<div class="single-post-text">
									<p>
										Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
									</p>
								</div>
								<div class="progress">
									<div class="percentage" style="width: 30%;">
										<span class="percent">30%</span>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>

			</div>

			<!-- Section Coding Skills -->
			<div class="section skills" id="section-skills-code">
				<div class="content">
					
					<!-- title -->
					<div class="titles">
						<div class="title">Coding Skills</div>
						<div class="subtitle">Developing on</div>
					</div>

					<!-- skills items-->
					<div class="skills circles">
						<ul>
							<li>
								<div class="progress p70"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>70%</span>
								</div>
								<div class="name">Python</div>
								<div class="single-post-text">
									<p>
										Object Oriented Programming, 
										Functional Programming, 
										File Processing, Scripting, 
										Json, 
										Http Requests, 
										BeautifulSoup, 
										Logging, Unit Test, 
										venv, 
										DB tools (psycopg2 & pymongo).
									</p>
								</div>
							</li>
							<li>
								<div class="progress p55"> <!-- p75 = 75% circle fill color -->
									<div class="percentage"></div>
									<span>55%</span>
								</div>
								<div class="name"> Flask </div>
								<div class="single-post-text">
									<p>
										Blueprints, 
										Routing, 
										Static Files, 
										Jinja2 Templates, 
										Json, 
										Sessions, 
										Requests.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p50"> <!-- p85 = 85% circle fill color -->
									<div class="percentage"></div>
									<span>50%</span>
								</div>
								<div class="name">Data Base</div>
								<div class="single-post-text">
									<p>
										SQL: PostgresSQL(+ER Diagram),
										NoSQL: MongoDB
									</p>
								</div>
							</li>
							<li>
								<div class="progress p30"> <!-- p80 = 80% circle fill color -->
									<div class="percentage"></div>
									<span>30%</span>
								</div>
								<div class="name">Django</div>
								<div class="single-post-text">
									<p>
										MVT, 
										ORM, 
										Templates, 
										Forms, 
										Routing, 
										REST api, 
										Serializing, 
										Test.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p40"> <!-- p95 = 95% circle fill color -->
									<div class="percentage"></div>
									<span>40%</span>
								</div>
								<div class="name">HTML, CSS</div>
								<div class="single-post-text">
									<p>
										HTML5, 
										CSS, 
										FlexBox,
										Responsive Design,
										Bootstrap4.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p30"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>30%</span>
								</div>
								<div class="name">Javascript</div>
								<div class="single-post-text">
									<p>
										Javascript, 
										DOM, 
										AJAX,
										JQuery.
									</p>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<!-- Section Testimonials -->
			<div class="section testimonials" id="section-testimonials">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Reviews</div>
						<div class="subtitle">What customers say</div>
					</div>

					<!-- testimonials items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesView="2" data-slidesview_mobile="1">

							<div class="item">
								<div class="reviews-item">
									<div class="image">
										<img src="{% static "images/rev1.png" %}" alt="">
									</div>
									<div class="info">
										<div class="name">Joseph Mackey</div>
										<div class="company">Architect</div>
									</div>
									<div class="text">
										Excellent all around! What stood out most was Jake's excellent service. He made sure our order was placed in time, even though we were ordering on a holiday.
									</div>
								</div>
							</div>

							<div class="item">
								<div class="reviews-item">
									<div class="image">
										<img src="{% static "images/rev1.png" %}" alt="">
									</div>
									<div class="info">
										<div class="name">James Green</div>
										<div class="company">Art Director</div>
									</div>
									<div class="text">
										Excellent all around! What stood out most was Jake's excellent service. He made sure our order was placed in time, even though we were ordering on a holiday.
									</div>
								</div>
							</div>

							<div class="item">
								<div class="reviews-item">
									<div class="image">
										<img src="{% static "images/rev1.png" %}" alt="">
									</div>
									<div class="info">
										<div class="name">Joseph Mackey</div>
										<div class="company">Architect</div>
									</div>
									<div class="text">
										Excellent all around! What stood out most was Jake's excellent service. He made sure our order was placed in time, even though we were ordering on a holiday.
									</div>
								</div>
							</div>

							<div class="item">
								<div class="reviews-item">
									<div class="image">
										<img src="{% static "images/rev1.png" %}" alt="">
									</div>
									<div class="info">
										<div class="name">James Green</div>
										<div class="company">Art Director</div>
									</div>
									<div class="text">
										Excellent all around! What stood out most was Jake's excellent service. He made sure our order was placed in time, even though we were ordering on a holiday.
									</div>
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>
					
				</div>
			</div>

			<!-- Section Clients -->
			<div class="section clients" id="section-clients">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Clients</div>
						<div class="subtitle">My partners</div>
					</div>

					<!-- clients items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesview="4" data-slidesview_mobile="2">

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client2.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client3.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client1.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client4.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client2.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client3.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client1.png" %}" alt="" />
									</a>
								</div>
							</div>

							<div class="item">
								<div class="clients-item">
									<a target="_blank" href="#">
										<img src="{% static "images/client4.png" %}" alt="" />
									</a>
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>
					
					<div class="clear"></div>
				</div>
			</div>

			<!-- Works -->
			<div class="section works" id="section-portfolio">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Portfolio</div>
						<div class="subtitle">Latest works</div>
					</div>

					<!-- filter -->
					<div class="filter-menu">
						<div class="filters">
							<div class="btn-group">
								<label data-text="All" class="glitch-effect">
									<input type="radio" name="fl_radio" value=".box-col" />All
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Video">
									<input type="radio" name="fl_radio" value=".f-video" />Video
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Music">
									<input type="radio" name="fl_radio" value=".f-music" />Music
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Links">
									<input type="radio" name="fl_radio" value=".f-links" />Links
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Image">
									<input type="radio" name="fl_radio" value=".f-image" />Image
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Gallery">
									<input type="radio" name="fl_radio" value=".f-gallery" />Gallery
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Content">
									<input type="radio" name="fl_radio" value=".f-content" />Content
								</label>
							</div>
						</div>
					</div>

					<!-- portfolio items -->
					<div class="box-items">	

						<div class="box-col f-gallery">
							<div class="box-item">
								<div class="image">
									<a href="#gallery-1" class="has-popup-gallery">
										<img src="{% static "images/works/work1.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-images"></i>
												</span>
											</span>
										</span>
									</a>
									<div id="gallery-1" class="mfp-hide">
										<a href="{% static "images/works/work1.jpg" %}"></a>
										<a href="{% static "images/works/work2.jpg" %}"></a>
										<a href="{% static "images/works/work3.jpg" %}"></a>
										<a href="{% static "images/works/work4.jpg" %}"></a>
									</div>
								</div>
								<div class="desc">
									<div class="category">Gallery</div>
									<a href="#gallery-1" class="name has-popup-gallery">Alabaster Complete Collection</a>
								</div>
							</div>
						</div>

						<div class="box-col f-video">
							<div class="box-item">
								<div class="image">
									<a href="https://youtu.be/S4L8T2kFFck" class="has-popup-video">
										<img src="{% static "images/works/work2.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-video"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Video</div>
									<a href="https://youtu.be/S4L8T2kFFck" class="name has-popup-video">Book of John Paper</a>
								</div>
							</div>
						</div>

						<div class="box-col f-image">
							<div class="box-item">
								<div class="image">
									<a href="{% static "images/works/work7.jpg" %}" class="has-popup-image">
										<img src="{% static "images/works/work7.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Image</div>
									<a href="{% static "images/works/work7.jpg" %}" class="name has-popup-image">White Rose Photo</a>
								</div>
							</div>
						</div>

						<div class="box-col f-image">
							<div class="box-item">
								<div class="image">
									<a href="{% static "images/works/work4.jpg" %}" class="has-popup-image">
										<img src="{% static "images/works/work4.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Image</div>
									<a href="{% static "images/works/work4.jpg" %}" class="name has-popup-image">Honest Company</a>
								</div>
							</div>
						</div>

						<div class="box-col f-gallery">
							<div class="box-item">
								<div class="image">
									<a href="#gallery-2" class="has-popup-gallery">
										<img src="{% static "images/works/work5.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-images"></i>
												</span>
											</span>
										</span>
									</a>
									<div id="gallery-2" class="mfp-hide">
										<a href="{% static "images/works/work5.jpg" %}"></a>
										<a href="{% static "images/works/work2.jpg" %}"></a>
										<a href="{% static "images/works/work3.jpg" %}"></a>
										<a href="{% static "images/works/work4.jpg" %}"></a>
									</div>
								</div>
								<div class="desc">
									<div class="category">Gallery</div>
									<a href="#gallery-2" class="name has-popup-gallery">Brown Short Dog</a>
								</div>
							</div>
						</div>

						<div class="box-col f-music">
							<div class="box-item">
								<div class="image">
									<a href="https://w.soundcloud.com/player/?visual=true&#038;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&#038;show_artwork=true" class="has-popup-music">
										<img src="{% static "images/works/work6.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-music"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Music</div>
									<a href="https://w.soundcloud.com/player/?visual=true&#038;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&#038;show_artwork=true" class="name has-popup-music">Brown Concrete Building</a>
								</div>
							</div>
						</div>

						<div class="box-col f-links">
							<div class="box-item">
								<div class="image">
									<a href="https://beshley.com/" class="has-popup-link" target="_blank">
										<img src="{% static "images/works/work3.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-link"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Links</div>
									<a href="https://beshley.com/" class="name has-popup-link">Black Car</a>
								</div>
							</div>
						</div>

						<div class="box-col f-content">
							<div class="box-item">
								<div class="image">
									<a href="#popup-1" class="has-popup-media">
										<img src="{% static "images/works/work8.jpg" %}" alt="" />
										<span class="info">
											<span class="centrize full-width">
												<span class="vertical-center">
													<i class="icon fas fa-plus"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Content</div>
									<a href="#popup-1" class="name has-popup-media">Yellow and Blue Striped</a>
								</div>
								<div id="popup-1" class="popup-box mfp-fade mfp-hide">
									<div class="content">
										<div class="image">
											<img src="{% static "images/works/work8.jpg" %}" alt="">
										</div>
										<div class="desc">
											<div class="category">Content</div>
											<h4>Yellow and Blue Striped</h4>
											<p>
												Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata 
												suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
											</p>
											<a href="#" class="btn">
												<span class="animated-button"><span>View Project</span></span>
												<i class="icon fas fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Contacts Info >-->
			<div class="section contacts" id="section-contacts">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title">Contact</div>
						<div class="subtitle">Let's talk</div>
					</div>

					<!-- contact form -->
					<div class="contact-form">
						<form id="cform" method="post">
							<div class="group-val">
								<div class="label">Full name <strong>*</strong></div>
   								<input type="text" name="name" placeholder="ej.: Genoveva Lian Hullt" />
							</div>
							<div class="group-val">
								<div class="label">Email address <strong>*</strong></div>
								<input type="email" name="email" placeholder="example@domain.com" />
							</div>
							<div class="group-val">
								<div class="label">Message <strong>*</strong></div>
								<textarea name="message" placeholder="To Write"></textarea>
							</div>
							<div class="group-bts">
								<button type="submit" class="btn">
									<span class="animated-button"><span>Send Message</span></span>
									<i class="icon fas fa-chevron-right"></i>
								</button>
							</div>
						</form>
						<div class="alert-success">
							<p>Thanks, your message is sent successfully.</p>
						</div>
					</div>

					<!-- contact info -->
					<div class="contact-info">
						<div class="name">Majid Karimi</div>
						<div class="subname">Consultant & Mentor</div>
						<div class="info-list">
							<ul>
								<li><strong>Born:</strong> 1989</li>
								<li><strong>Residence:</strong> iran</li>
								<li><strong>Freelance:</strong> Available</li>
								<li><strong>Address:</strong> Tehran</li>
								<li><strong>Phone:</strong> +98 935 4600 144</li>
								<li><strong>E-mail:</strong> abm.karimi@gmail.com</li>
							</ul>
						</div>
						<div class="author">Majid Karimi</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>

		</div>
		
		<!-- Footer -->
		<footer class="footer">
			<div class="socials">
				<a target="_blank" href="https://twitter.com/abm_karimi">
					<i class="icon fab fa-twitter"></i>
				</a>
				<a target="_blank" href="https://github.com/majeedkarimi">
					<i class="icon fab fa-github"></i>
				</a>
				<a target="_blank" href="https://www.linkedin.com/in/majeed-karimi">
					<i class="icon fab fa-linkedin-in"></i>
				</a>
			</div>
		</footer>
		
	</div>

	<!-- Scripts -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/velocity.min.js" %}"></script>
	<script src="{% static "js/jquery.validate.js" %}"></script>
	<script src="{% static "js/magnific-popup.js" %}"></script>
	<script src="{% static "js/typed.js" %}"></script>
	<script src="{% static "js/jarallax.js" %}"></script>
	<script src="{% static "js/jarallax-video.js" %}"></script>
	<script src="{% static "js/jarallax-element.js" %}"></script>
	<script src="{% static "js/imagesloaded.pkgd.js" %}"></script>
	<script src="{% static "js/isotope.pkgd.js" %}"></script>
	<script src="{% static "js/owl.carousel.js" %}"></script>
	<script src="{% static "js/swiper.js" %}"></script>
	<script src="{% static "js/scripts.js" %}"></script>

</body>
</html>